
h1, h2, h3, h4, h5, h6, h7 {
  font-family: Handlee, Helvetica, sans-serif;
}

#home-region {
  position: fixed !important;
  top: 0;
  width: 100%;
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  z-index: 100;
}

#log-region {
  max-width: 500px;
  margin: 0 auto;
}

.item .item-status {
  width: 150px;
}
.item .time {
  margin: 10px;
}

.category-toilet {
  background: #eb3;
}
.category-progress {
  background: #00c;
}
.category-food {
  background: #090;
}
.category-sleep {

}
.category-sick {
  background: #900;
}

.btn-toilet, .btn-toilet.active {
  color: #eb3;
}
.btn-progress, .btn-progress.active {
  color: #00c;
}
.btn-food, .btn-food.active {
  color: #090;
}
.btn-sleep, .btn-sleep.active {

}
.btn-sick, .btn-sick.active {
  color: #900;
}

.btn-group label.btn input {
  display: none;
}
.add-form-details {
  display: none;
  margin-bottom: 20px;
}
#item-edit-region .btn-group {
  margin: 10px 0;
}

#item-edit-region form {
  text-align: center;
  margin-bottom: 0;
}

#item-edit-region textarea {
  margin-bottom: 0;
  resize: none;
}
