<div data-role="header">
  <h1>Cry Eat Sleep</h1>
</div>

<div data-role="content">

  <h2>Theo a:</h2>
  <a href="#" data-role="button">Dormi</a> <a href="#"
    data-role="button">Mangé</a> <a href="#" data-role="button">Souri</a>
  <a href="#" data-role="button">Fait caca</a> <a href="#"
    data-role="button">Fait pipi</a>

  <div data-role="popup" id="popupAddForm">
    <p>This is a completely basic popup, no options set.
    <p>

      <a id="add-item" href="#" data-role="button" data-icon="plus">Add</a>
  </div>
</div>

<div data-role="footer" data-position="fixed">
  <h4>
    <a href="#log-view">Übersicht</a>
  </h4>
</div>