<div class="page-header">
  <h1>Cry Eat Sleep</h1>
</div>

  <h3>Aujourd'hui, Theo a:</h3>
  <a href="#" class="btn btn-success">Dormi</a>
  <a href="#" class="btn btn-success">Mangé</a>
  <a href="#" class="btn btn-success">Souri</a>
  <a href="#" class="btn btn-success">Fait caca</a>
  <a href="#" class="btn btn-success">Fait pipi</a>


<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="divider-vertical"></li>
      <li><a href="#log-view">Historique</a></li>
      <li class="divider-vertical"></li>
      <li><a href="#">Mon Compte</a></li>
      <li class="divider-vertical"></li>
    </ul>
  </div>

</div>
