
    <form>
      <div class="btn-group" data-toggle="buttons-radio" >
          <label class="btn">Yay <input type="radio" name="category" value="progress" /></label>
          <label class="btn">Miam<input type="radio" name="category" value="food" /></label>
          <label class="btn">Pipicaca<input type="radio" name="category" value="toilet" /></label>
          <label class="btn">Dodo<input type="radio" name="category" value="sleep" /></label>
          <label class="btn">Bobo<input type="radio" name="category" value="sick" /></label>
      </div>
      <div class="add-form-details">
        <div>
          <input name="note" type="text"/>
        </div>
        <a href="#" id="cancel-new-item" class="btn btn-link">Annuler</a>
        <input type="submit" id="save-new-item" class="btn btn-primary" value="Ok"/>
      </div>
    </form>
