
    <form>
      <div class="btn-group" data-toggle="buttons-radio" >
          <label class="btn btn-progress">Yay <input type="radio" name="category" value="progress" /></label>
          <label class="btn btn-food">Miam<input type="radio" name="category" value="food" /></label>
          <label class="btn btn-toilet">Pipicaca<input type="radio" name="category" value="toilet" /></label>
          <label class="btn btn-sleep">Dodo<input type="radio" name="category" value="sleep" /></label>
          <label class="btn btn-sick">Bobo<input type="radio" name="category" value="sick" /></label>
      </div>
      <div class="add-form-details">
        <textarea name="note" rows="1"/></textarea>
        <input type="submit" id="save-new-item" class="btn" value="Ok"/>
        <a href="#" id="cancel-new-item" class="btn btn-link">Annuler</a>
      </div>
    </form>
